body {
    background-color: lightseagreen;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    width: 80;
}

h1 {
    color: green;
    font-size: 2em;
    font-weight: bolder;
}

h2 {
    background-color: teal;
    font-stretch: extra-expanded;
}

h3 {
    background-color: purple;
    font-size: 2em;
    font-style: oblique;
}

img {
    display: block;
    margin: 5em auto;
    width: 60%;
}

#header {
    background-color: black;
}

#content {
    background-color: darkorange;
    padding: 20px;
}

#footer {
    background-color: deepskyblue;
    
}
#navigation > ul > li {
    display: inline;
    position: relative;
    padding: 5px;
}
#navigation {
    background-color: royalblue;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;

}

#navigation .dropdown {
    display: none;
    left: 0;
    position: absolute;
    top: 10px;
}

#navigation a:hover + .dropdown,
#navigation a + .dropdown:hover {
    display: block;
}